/*media break*/

@media screen and (max-width: 600px) {
	
	p#content {
		text-align: justify;
	}
}



body {
	background-color: #adebeb;
}

#elephant {
	max-width: 100%;
	max-height: auto;
}

#posts {
	background-color: #FFF;
}

#categories{
	padding-right: 1em;
	margin: 1em;
	font-style: italic;
	background-color: #adebeb;
}

#content{
	margin: 1em;
}

#postTitle {
	padding-top: .5em;
}

input{
	float: right;
	margin-top: 0.5em;
	margin-right: 1em;
}
